<!DOCTYPE html>
<html>

<head>

<title>CyberShield AI</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>


<style>

body{
background:#050816;
color:white;
font-family:Arial;
}

.card{
background:#111827;
margin:20px;
padding:20px;
border-radius:15px;
}

button{
padding:12px 25px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
}

table{
width:100%;
border-collapse:collapse;
}

td,th{
border:1px solid white;
padding:8px;
}

#graph{
height:450px;
background:white;
}

</style>

</head>



<body>


<div class="card">

<h1>
CyberShield AI
</h1>

<p>
GNN Based Network Threat Detection
</p>

</div>



<div class="card">

<h2>
Dataset Based Analysis
</h2>


<form method="POST" enctype="multipart/form-data">


<input type="file" name="dataset">


<button name="action" value="upload">

Analyze Dataset

</button>


</form>


</div>





<div class="card">

<h2>
Live Capture Analysis
</h2>


<form method="POST">


<button name="action" value="live">

Start Capture

</button>


</form>


</div>





{% if live_results %}


<div class="card">


<h2>
Live Capture Results
</h2>


<table>


<tr>

<th>Time</th>
<th>Source</th>
<th>Destination</th>
<th>Protocol</th>
<th>Prediction</th>
<th>Risk</th>
<th>Score</th>
<th>Reason</th>


</tr>


{% for r in live_results %}


<tr>

<td>{{r["Timestamp"]}}</td>

<td>{{r["Source IP"]}}</td>

<td>{{r["Destination IP"]}}</td>

<td>{{r["Protocol"]}}</td>

<td>{{r["Prediction"]}}</td>

<td>{{r["Risk Level"]}}</td>

<td>{{r["Score"]}}</td>

<td>{{r["Reason"]}}</td>


</tr>


{% endfor %}


</table>


</div>


{% endif %}







{% if dataset_results %}


<div class="card">


<h2>
Dataset Results
</h2>


<table>


{% for r in dataset_results %}

<tr>


{% for k,v in r.items() %}


<td>

{{v}}

</td>


{% endfor %}


</tr>


{% endfor %}


</table>


</div>


{% endif %}






<div class="card">


<h2>
Network Graph Visualization
</h2>


<div id="graph">


</div>


</div>





<div class="card">

<h2>
Threat Chart
</h2>


<canvas id="chart">


</canvas>


</div>






<script>


let nodes={{nodes|tojson}};

let edges={{edges|tojson}};



new vis.Network(

document.getElementById(
"graph"
),

{

nodes:new vis.DataSet(nodes),

edges:new vis.DataSet(edges)

},

{

edges:{
arrows:"to"
}

}

);




let threat={{threat_count|tojson}};



new Chart(

document.getElementById(
"chart"
),

{

type:"pie",

data:{

labels:Object.keys(threat),

datasets:[

{

data:Object.values(threat)

}

]

}

}

);



</script>


</body>


</html>